version: '2'
services:
  nginx:
    restart: always
    image: nginx:latest
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    volumes_from:
      - web:ro
    depends_on:
      - web 
  web:
    restart: always
    build: ./app
    volumes:
      - /srv/static
      - ./app:/srv/app
    working_dir: /srv/app
